{% extends 'layout.html' %}
{% block content %}
<script>
    var endpoint = '/web/PathFinder/v1.0/data/to-day'
    var endpoint_data = '/web/PathFinder/v1.0/data/'
    var actual_data = []
    var labels = []
    var casesData = {}
    var current_year = ""
    var category_colors = []

    // retrieve graph data
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            crimesdata = data.crimesdata
            labels = crimesdata.labels
            actual_data = crimesdata.data
            current_year = crimesdata.year
            category_colors = crimesdata.category_colors
            year_holders = document.getElementsByClassName("current_year")
            for (var i = 0; i < year_holders.length; i++) {
                year_holders[i].innerHTML = current_year
            }
            for (var i = 0; i < labels.length; i++) {
                div_spanHolder = document.createElement('div')
                span_color_holder = document.createElement("span")
                span_color_holder.innerHTML = "====="
                span_color_holder.style.color = category_colors[i]
                span_category_name = document.createElement('span')
                span_category_name.innerHTML = labels[i]
                document.getElementById("map_keys").appendChild(span_color_holder)
                document.getElementById("map_keys").appendChild(span_category_name)
            }

            setChart()
        },
        error: function (error) {
            console.error(error);
        }
    })

    // retrieve cases data
    //$.ajax({
    //method:"GET",
    //url:endpoint_data,
    //success: function (data) {
    //casesData = data.casesData
    //setCasesData()
    //},
    //error:function(error){
    //console.error(error);
    //}
    //})

    function setCasesData() {
        $(document).ready(function () {
            document.getElementById("murder").innerHTML = casesData.murder
            document.getElementById("kidnap").innerHTML = casesData.kidnap
            document.getElementById("robbery").innerHTML = casesData.robbery
            document.getElementById("theft").innerHTML = casesData.thefty
        })
    }

    function setChart() {
        $(document).ready(function () {

            var ctx = document.getElementById("Daily_chart");
            // var ctx2 = document.getElementById("myChart2");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Crime Analysis',
                        data: actual_data,
                        backgroundColor: category_colors,
                        borderColor: category_colors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        })

    }
</script>
{% include '/partials/topnav.html' %}
{% include '/partials/mobiletop.html' %}
{% if current_user.is_authenticated %}
{% include '/partials/navbar.html' %}
{% endif %}
<!-- End Status area-->
<!-- Start Sale Statistic area-->
<div class="sale-statistic-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sale-statistic-inner notika-shadow mg-tb-30">
                    <div class="curved-inner-pro">
                        <div class="curved-ctn">
                            <h2>Crime Statistics for this year (<span class="current_year"></span>)</h2>
                            <p></p>
                        </div>
                    </div>
                    <!-- <div id="Daily_chart" class="flot-chart-sts flot-chart"></div> -->
                    <canvas id="Daily_chart" class="flot-chart-sts flot-chart" width="150" height="95"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sale Statistic area-->

<!-- Start Map Statistic area-->
<div class="sale-statistic-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sale-statistic-inner notika-shadow mg-tb-30">
                    <div class="curved-inner-pro">
                        <div class="curved-ctn">
                            <h2>Map Crime Statistics for this year (<span class="current_year"></span>)</h2>
                            <h2> {{uncategorized}} crime scences have unknown location(s) </h2>
                            <p>
                                Map Key
                                <div id="map_keys">
                                </div>
                            </p>
                        </div>
                    </div>
                    <!-- show maps here -->
                    {% include '/pages/gmap_plot.html' %}
                    <!-- maps here -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Map Statistic area-->


{% endblock %}