{% extends 'layout.html' %}
{% block content %}
<script>
    $(document).ready(function () {

        var endpoint = '/admin/dashboard/crime/analysis/data'
        var actual_data = []
        var labels = []
        var category_colors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ]
        var borderColor = [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ]
        var category_post = document.getElementById('category').innerHTML
        var from_period = document.getElementById('from_period').innerHTML
        var to_period = document.getElementById('to_period').innerHTML


        // retrieve graph data
        $.post(endpoint, {
            category_post: category_post,
            from_period: from_period,
            to_period: to_period
        }).done(function (data) {
            labels = data.labels
            actual_data = data.data
            setChart()
        }).fail(function (error) {
            console.error(error);
        })

        function setChart() {
            var ctx = document.getElementById("period_chart");
            // var ctx2 = document.getElementById("myChart2");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: category_post,
                        data: actual_data,
                        backgroundColor: category_colors,
                        borderColor: borderColor,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    })
</script>
{% include '/partials/topnav.html' %}
{% include '/partials/mobiletop.html' %}
{% include '/partials/navbar.html' %}

<!-- Start Status area -->
<div class="notika-status-area">
    <div class="container">
        <div class="row">
            <form id="">
            </form>
        </div>
    </div>
</div>
<!-- End Status area-->
<!-- Start Sale Statistic area-->
<div class="sale-statistic-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sale-statistic-inner notika-shadow mg-tb-30">
                    <div class="curved-inner-pro">
                        <div class="curved-ctn">
                            <h2>Crime Statistics for <span id="category">{{category}}</span> from (<span
                                    id="from_period">{{from_period}}</span>) to (<span
                                    id="to_period">{{to_period}}</span>)</h2>
                            <p></p>
                        </div>
                    </div>
                    <!-- <div id="Daily_chart" class="flot-chart-sts flot-chart"></div> -->
                    <canvas id="period_chart" class="flot-chart-sts flot-chart" width="150" height="95"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sale Statistic area-->

<!-- Start Map Statistic area-->
<div class="sale-statistic-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sale-statistic-inner notika-shadow mg-tb-30">
                    <div class="curved-inner-pro">
                        <div class="curved-ctn">
                            <h2>Map Crime Statistics for {{category}}
                            </h2>
                            <p>
                                <h2> {{uncategorized}} crime scences have unknown location(s) </h2>
                            </p>
                        </div>
                    </div>
                    <!-- show maps here -->
                    {% include '/pages/'~map_name~'.html' %}
                    <!-- maps here -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Map Statistic area-->


{% endblock %}