{% extends 'layout.html' %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include '/partials/topnav.html' %}
{% include '/partials/mobiletop.html' %}
{% include '/partials/navbar.html' %}

<div class="container" style="min-height:80vh;">
  <div style="text-align: center">
    <h1>Forbidden</h1>
    <h1> 403 Error </h1>
    <h3> You do not have sufficient permissions to access this page. </h3>
    <a href="{{ url_for('home.admin_dashboard') }}" class="btn btn-primary btn-lg">
      <i class="fa fa-home"></i>
      Dashboard
    </a>
  </div>
</div>
{% endblock %}