<!-- Start Header Top Area -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <h2 style="color:white">Crime Report Visualisation System</h2>
                    <!-- <a href="#"><img src="/static/img/logo/logo.png" alt="" /></a> -->
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        <li class="nav-item">
                            <div class="animated zoomIn mt-3">
                                <a href="{{ url_for('auth.logout') }}"
                                    style="color:#fff; margin-top:10px; text-transform:uppercase; font-size:0.9em;"
                                    class="btn btn-sm">
                                    (Hi, {{current_user.full_names}})
                                    Sign-out <i class="text-white fa fa-sign-out"></i>

                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- End Header Top Area -->